{% extends "Shop/base.html" %}
{% load static %}

{% block content %}
      <div class="container-fluid">
         <div class="row" style="margin-top: 6%; margin-left: 30px;">
   
           <div class="col-sm-8  blog-main">
   
             <div class="blog-post">
                 <div class="row">
                     {% for product in query %}
                         <div class="col-md-4 ">
                           <div class="thumbnail">
                               <a href="{% url 'ProductDetails' id=product.id %}">
                                   <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                               </a>
                               <div class="caption">
                                   <h3 class="text-center">
                                       <a href="{% url 'ProductDetails' id=product.id %}">{{ product.name }}</a>
                                   </h3>
                                   <p class="text-center"># {{ product.price }}</p>
                               </div>
                           </div>
                         </div>
                     {% endfor %}
                 </div>
   
                 `
   
             </div><!-- /.blog-post -->
   
           </div><!-- /.blog-main -->
   
           <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4 class="text-center justify-content-center text-capitalize">Categories</h4>
                <hr>
                <ol class="list-unstyled">
                  <li {% if not category %} class="active"{% endif %}><a href="{% url "ProductList" %}" class="btn btn-primary">All</a></li>
                  <br>
                  <li><a href="{% url "Men" %}" class="btn btn-primary">Men's Wear</a></li>
                  <br>
                  <li><a href="{% url "Ladies" %}" class="btn btn-primary">Women's Wear</a></li>
                  <br>
                  <li><a href="{% url "Kids" %}" class="btn btn-primary">Kid's Wear</a></li>
                  <br>
                  <li><a href="{% url "Watch" %}" class="btn btn-primary">Watches</a></li>
                  <br>
                  <li><a href="{% url "Bags" %}" class="btn btn-primary">Bags</a></li>
                  <br>
                  <li><a href="{% url "Shoes" %}" class="btn btn-primary">Shoe's</a></li>
              </div>
              <hr>
             
           </div><!-- /.blog-sidebar -->
   
         </div><!-- /.row -->
   
       </div><!-- /.container -->

{% endblock %}