{% extends "Shop/base.html" %}
{% load static %}

{% block content %}
      <!-- for the searching -->
      <br>
      <div class="searching container">
          <div class="center">
              <form class="form-inline", action="{% url "Search" %}">
                  <input type="text" name="q" class="form-control" placeholder="Search Store" aria-describedby="button-addon1">
                  <div class="input-group-prepend">
                    <button class="btn btn-success btn-lg" type="submit" id="button-addon1">Search</button>
                  </div>
              </form>
          </div>
      </div>
  
      <div class="container-fluid">
         <div class="row" style="margin-top: 6%; margin-left: 30px;">
   
           <div class="col-sm-8  blog-main">
   
             <div class="blog-post">
                 <div class="row">
                     {% for product in query %}
                         <div class="col-md-4 ">
                           <div class="thumbnail">
                               <a href="{% url 'ProductDetails' id=product.id %}">
                                   <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                               </a>
                               <div class="caption">
                                   <h3 class="text-center">
                                       <a href="{% url 'ProductDetails' id=product.id %}">{{ product.name }}</a>
                                   </h3>
                                   <p class="text-center"># {{ product.price }}</p>
                               </div>
                           </div>
                         </div>
                     {% endfor %}
                 </div>
   
                 `
   
             </div><!-- /.blog-post -->
             <h2 id="Cat">Hot This Week </h2>
             <h2> Men's Wear</h2>
             <h2> Women's Wear</h2>
             <h2> Accessories </h2>
   
           </div><!-- /.blog-main -->
   
           <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
             <div class="sidebar-module">
               <h4>Categories</h4>
               <ol class="list-unstyled">
                 <li {% if not category %} class="active"{% endif %}><a href="{% url "ProductList" %}" class="btn btn-primary">All</a></li>
                 <br>
               {% for c in categories %}
   
                 <li {% if category.slug == c.slug %} class="active"{% endif %}>
                     
                     <h6><a href="#" class="btn btn-primary">{{ c.name }}</a></h6>
                 </li>
               {% endfor %}
               </ol>

             </div>
             <br>
             <div class="suscribe">
              <h3>Subscribe For Updates</h3>
              <form action="." method="POST">
                {% csrf_token %}
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Mail Address">
                <br>
                <button class="btn btn-info" type="submit">Subscribe</button>
              </form>

            </div>
           </div><!-- /.blog-sidebar -->
   
         </div><!-- /.row -->
   
       </div><!-- /.container -->

{% endblock %}